:root{
    --text-yellow-color: #ecc588;
    --text-color-2 : #daa573
}

.sorting-box{
    height: 10rem;
    /* border: 1px solid black; */
}
.selection-box{
    width: 25rem;
    height: 5rem;
    font-size: 1.7rem;
    border-color: var(--text-yellow-color);
    padding: 1rem 2rem;
}
option{
    color: var(--text-color-2);
    margin-top: 1rem
}