
.signup-form{
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.12), 0 1rem 1rem rgba(0,0,0,0.24);
    background-color:#ffff
}

.outer-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    gap: 2rem;
    border: none;
  }

  .grid-item {
    font-size:1.5rem;
    display: flex;
    flex-direction: column;
  }

  .grid-item input{
      height: 3rem;
  }

  .register-button{
    width: 40%;
    height:4rem;
    background-color:transparent;
    margin: 1rem 0;
    background-color:#090a0c;
    color: #f3f3f3;
    border: none;
  }
  
  .register-button:hover{
        border: 1px solid #090a0c;
        color: #090a0c;
        background-color:transparent;
  
  }
  .button-box{
      text-align: center;
  }
  .condition-tag{
      font-size:1.3rem;
      margin-left: 1rem;
  }
  label{
      font-size:2rem;

  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    html{
        font-size: 40%;
    }
    [class*="col-"] {
     width: 100%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        gap: 2rem;
        border: none;
      }
}