.filterbar{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow:scroll;
    
}
/* Hide scrollbar for Chrome, Safari and Opera */
.filterbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .filterbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.filterbar__box{
    display: flex;
    margin-bottom: 2rem;
    gap: 4rem;
    align-items: center;
}
.filterbar__deleteBtn{
    font-size: 1.3rem;
    color: #ef4444;
    cursor: pointer;
}
.flex-vertical-outer{
    display: flex;
    flex-direction: column;
gap: 1rem;
margin-bottom: 2rem;
}
.flex-horizontal-inner{
    display: flex;

}
.filter__heading1{
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    color: #393851;

}
.filterbar__heading{
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    color: #393851;
    margin-top: 1.5rem;

}
.delete-filter-text{
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}
.filterbar__searchbox > input{
    width: 90%;
    height: 3rem;
    border-radius: 0.7rem;
    text-align: center;
    appearance: none;
    border:0;
}

input:active{
    border:0;
}
.price-input>input{
   width: 30%;
   border-radius: 0.7rem;
}

.flex-horizontal-inner{
    display: flex;
    gap: 0.5rem;
   
}
.flex-horizontal-inner>label{
 font-size: 1.7rem;   
}
.input-horizontal-flex{
display: flex;
align-items: center;
gap: 1rem;
}
.input-horizontal-flex label{
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
}
/* responsive */
@media(max-width:700px){

}