
.navbar{
    display:flex;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.12), 0 1rem 1rem rgba(0,0,0,0.24);
    align-items:center;
    border: transparent;
    display: grid;
    grid-template-columns: repeat(2,1fr);

   z-index: 11;
   background-color:#ffffff;

}
/* left-media */
.navbar__media{
    display: flex;
    align-items: center;
}
.navbar__logo{
    width: 5rem;
    height: 5rem;
  }
.navbar__brandname{
    font-family: 'Lavishly Yours', cursive;
    font-size: 3.5rem;
}


/* right- icons */
.navbar__icons{
    display: flex;
    gap: 1rem;
    align-items:center;
    justify-content: flex-end;
}
.icon__badge{
    position:relative;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items:center;
}
.icon__number{
position: absolute;
right:0;
top:-12px;
background-color: black;
width: 50%;
height: 50%;
border-radius: 50%;
color: #ffff;
display: flex;
align-items:center;
justify-content: center;
font-size:1.5rem;
}



