  /* ------------------------------filter------- */
  :root{
    --dark-color: #0D0D0E;
    --dark-brown: #5a5f57;
    --text-white-color: #f3f2f1
  }
  label{
    font-size: 2rem;
    margin: 1rem;
    color: var(--text-white-color)
  }
  fieldset{
    margin-top: 2rem;
    padding: 1rem;
  }
  .check{
    margin: 0.8rem;
  }
  hr{
    margin : 1rem
  }
  .clear-btn{
    background-color: transparent;
    border: none;
    border: 1px solid black;
    padding: 0.2rem 1rem;
    width: 15rem;
  }
  .filter-header-box{
    display: flex;
  gap: 3rem
  }
  .filter-container{
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.12), 0 1rem 1rem rgba(0,0,0,0.24);
    background-color: var(--dark-brown);
    min-height: 50rem;

  }
.accordian-tap{
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.arrow-down{
  display:none
}
   .accordian-answer{
    max-height:0;
    position: relative;
    overflow: hidden;
    transition: max-height 650ms;
  }
  .accordian-tap:target .accordian-answer{
    max-height: 50rem;
  } 
.accordian-tap:target .arrow-right{
  display: none
}
.accordian-tap:target .arrow-down{
  display: block
}

.accordian-tap p {
  color : var(--text-white-color)
}
.filter-header-box h2{
  color : var(--text-white-color)

}