.product__details p {
  font-size: 2rem;
}
.product__details p {
  color: gray;
  txt-align: center;
}
.product__details__btn {
  margin-top: 3.5rem;
  display: flex;
  gap: 2rem;
}
.product__details__btn .large {
  width: 10rem;
}
.btn-large {
  width: 20rem;
  height: 5rem;
display: flex;
justify-content: center;
}
