@import "react-toastify/dist/ReactToastify.css";

:root {
  --dark-color: #0d0d0e;
  --dark-brown: #5a5f57;
  --text-white-color: #f3f2f1;
}
body {
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: var(--dark-color);
}
h1 {
  margin-bottom: 2rem;
}
/* p{
  margin-bottom: 1rem;
} */
.App {
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.button {
  height: 3rem;
  background-color: transparent;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.primary_btn {
  background-color: #090a0c;
  color: #f3f2f1;
  border: none;
}
.button:hover {
  border: 1px solid #090a0c;
  color: #090a0c;
  background-color: transparent;
}
.footer {
  align-self: stretch;
}
html {
  font-size: 60%;
}

@media (max-width: 700px) {
  html {
    font-size: 40%;
  }
}
.btn {
  color: var(--text-white-color);
  background-color: var(--dark-color);
  border: 0;
  text-decoration: none;
  width: fit-content;
  padding: 0.8rem 1.5rem;
}
.btn:hover {
  background-color: transparent;
  color: var(--dark-color);
  border: 1.5px solid var(--dark-color);
}
.border-top {
  border-top: 1px solid black;
}
.flex-row {
  display: flex;
  gap: 1rem;
}
.justify-sb {
  display: flex;
  justify-content: space-between;
}
.cursor {
  cursor: pointer;
}
.mlr {
  margin: 4rem 7rem;
}
.border {
  border: 1px solid #cbd5e1;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}
.bold {
  font-weight: bold;
}
.small-text {
  font-size: 1.5rem;
}
.medium-text {
  font-size: 1.8rem;
}
.justify-fe {
  display: flex;
  justify-content: flex-end;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.divider {
  border-bottom: 1px solid black;
  margin: 1.5rem 0;
}
.center {
  text-align: center;
}
.primary__btn{
  width: fit-content;
  padding: 1rem 2rem;
  color: var(--text-white-color);
  background-color: var(--dark-color);
  border: 0;
  text-decoration: none;
  cursor: pointer;
}
.large-text{
  font-size: 4rem;
}